*
!**/
apks/**
images/**
projects/**
ssl/**
!ovl/*
!ovl/**
ovl/apks
ovl/fixup_cd.dat
ovl/start_cd.elf
!scripts/*
!scripts/**
!tools/*
!tools/**
!.gitignore
!sample.cfg
!sample.apks
!install.sh
!pi0-pinout.png
!.gitkeep
