#pi0 alpine config

hostname=pi0
device=/dev/mmcblk0
arch=armhf
version=3.23.3
mount=/mnt/usb
overlay=alpine-rpi
system=+1G
data=+1G
swap=+2G

wifi=0
country=PL
ssid=MyHome
psk=SecretPassword

gadget=1
g_addr=192.168.0.100
g_mask=255.255.255.0
g_range=192.168.0.10,192.168.0.20
g_lease=24h

ap=0
ap_ssid=MyPiAP
ap_psk=SecretPassword
ap_addr=192.168.1.1
ap_mask=255.255.255.0
ap_range=192.168.1.10,192.168.1.20
ap_lease=24h

